body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 400px;
}

h2 {
    text-align: center;
}

.form-field {
    margin-bottom: 15px;
}

.form-field input {
    border-width: 2px !important;
    /* border: 2px solid orange !important; */
}

label,
legend {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 94.5%;
    padding: 10px;
    margin: 5px 0 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

fieldset {
    border: 1px solid #ddd;
    border-radius: 5px;
}

fieldset input,
fieldset .form-field {
    margin-bottom: 0px !important;
}

.form-field button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.form-field button:hover {
    background-color: #218838;
}

.toggle-link {
    text-align: center;
    margin-top: 10px;
}

.toggle-link a {
    color: #007bff;
    text-decoration: none;
}

.toggle-link a:hover {
    text-decoration: underline;
}

.form-field .invalid {
    border: 2px solid red;
    outline-color: red;
    /* border-color: red !important; */
}

.error-message {
    color: red;
}